html,
body {
    height: 100%;
}

.tab-content {
    transition: transform 0.25s ease, opacity 0.25s ease;
    transform: translate(100%, 2%);
    opacity: 0;
    pointer-events: none;
}

.tab-content.active {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
    position: relative !important;
}

.tab-with-close .close-tab-btn {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.tab-with-close:hover .close-tab-btn {
    opacity: 1;
}