html,
body {
    height: 100%;
}

.tab-content {
    transition: transform 0.25s ease, opacity 0.25s ease;
    transform: translate(100%, 2%);
    opacity: 0;
    pointer-events: none;
}

.tab-content.active {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
    position: relative !important;
}

.tab-with-close .close-tab-btn {
    align-self: start;
    margin-left: 10px;
    padding: 3px 7px;
    border-radius: 50%;
    line-height: 0px;
}

.close-tab-btn:hover>.q-focus-helper {
    opacity: 0.4 !important;
}

.q-tab {
    padding: 0 6px 0 16px;
}